.cta-book {
  padding: 0px 25px;
  font-weight: bold;
  color: white;
  font-size: 1.2em;
  height: 55px;
  width: 100%;
}

.uber {
  background: #03393c;
}

.ola {
  background: #bdce35;
}

.or {
  margin: 25px 0px;
  font-weight: bold;
}
