.add-ride {
  position: fixed;
  bottom: 5%;
  right: 9%;
  height: 55px;
  width: 55px;
  background: #0275d8;
  border-radius: 55%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 42px;
  margin: 0;
  padding: 0;
  z-index: 9999999999;
}

.plus-icon-align {
  margin-top: -7px !important;
}

.ui.cards ~ .ui.cards {
  margin-top: 0.875em;
  margin-top: -5px;
}
