body,
button {
  font-family: "Source Sans Pro", sans-serif;
  color: #31393f;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.fs-2em {
  font-size: 2em !important;
}

.fs-point7em {
  font-size: 0.7em !important;
}

.ui.icon.input {
  width: 100% !important;
}

.ui .card {
  width: 100% !important;
}
